/* https://color.adobe.com/pt */

/* Color Theme Swatches in Hex */
.Bright-Blue-Dark-Teal-Aqua-Orange-1-hex { color: #026E81; }
.Bright-Blue-Dark-Teal-Aqua-Orange-2-hex { color: #00ABBD; }
.Bright-Blue-Dark-Teal-Aqua-Orange-3-hex { color: #0099DD; }
.Bright-Blue-Dark-Teal-Aqua-Orange-4-hex { color: #FF9933; }
.Bright-Blue-Dark-Teal-Aqua-Orange-5-hex { color: #A1C7E0; }

/* Color Theme Swatches in RGBA */
.Bright-Blue-Dark-Teal-Aqua-Orange-1-rgba { color: rgba(2, 110, 128, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-2-rgba { color: rgba(0, 170, 188, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-3-rgba { color: rgba(0, 153, 221, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-4-rgba { color: rgba(255, 153, 51, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-5-rgba { color: rgba(161, 198, 223, 1); }

/* Color Theme Swatches in HSLA */
.Bright-Blue-Dark-Teal-Aqua-Orange-1-hsla { color: hsla(188, 96, 25, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-2-hsla { color: hsla(185, 100, 37, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-3-hsla { color: hsla(198, 100, 43, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-4-hsla { color: hsla(30, 100, 60, 1); }
.Bright-Blue-Dark-Teal-Aqua-Orange-5-hsla { color: hsla(203, 50, 75, 1); }

/*----------------------------------------------------------------------------*/

/* Color Theme Swatches in Hex */
.Neutral-Blue-1-hex { color: #FCFFF5; }
.Neutral-Blue-2-hex { color: #D1DBBD; }
.Neutral-Blue-3-hex { color: #91AA9D; }
.Neutral-Blue-4-hex { color: #3E606F; }
.Neutral-Blue-5-hex { color: #193441; }

/* Color Theme Swatches in RGBA */
.Neutral-Blue-1-rgba { color: rgba(251, 255, 244, 1); }
.Neutral-Blue-2-rgba { color: rgba(209, 219, 188, 1); }
.Neutral-Blue-3-rgba { color: rgba(144, 170, 156, 1); }
.Neutral-Blue-4-rgba { color: rgba(61, 96, 110, 1); }
.Neutral-Blue-5-rgba { color: rgba(24, 52, 65, 1); }

/* Color Theme Swatches in HSLA */
.Neutral-Blue-1-hsla { color: hsla(78, 100, 98, 1); }
.Neutral-Blue-2-hsla { color: hsla(80, 29, 80, 1); }
.Neutral-Blue-3-hsla { color: hsla(148, 12, 61, 1); }
.Neutral-Blue-4-hsla { color: hsla(198, 28, 33, 1); }
.Neutral-Blue-5-hsla { color: hsla(199, 44, 17, 1); }

/*----------------------------------------------------------------------------*/

/* Color Theme Swatches in Hex */
.Blue-Sky-1-hex { color: #16193B; }
.Blue-Sky-2-hex { color: #35478C; }
.Blue-Sky-3-hex { color: #4E7AC7; }
.Blue-Sky-4-hex { color: #7FB2F0; }
.Blue-Sky-5-hex { color: #ADD5F7; }

/* Color Theme Swatches in RGBA */
.Blue-Sky-1-rgba { color: rgba(22, 25, 59, 1); }
.Blue-Sky-2-rgba { color: rgba(53, 70, 140, 1); }
.Blue-Sky-3-rgba { color: rgba(77, 122, 198, 1); }
.Blue-Sky-4-rgba { color: rgba(127, 177, 239, 1); }
.Blue-Sky-5-rgba { color: rgba(173, 212, 247, 1); }

/* Color Theme Swatches in HSLA */
.Blue-Sky-1-hsla { color: hsla(235, 45, 15, 1); }
.Blue-Sky-2-hsla { color: hsla(227, 44, 37, 1); }
.Blue-Sky-3-hsla { color: hsla(218, 51, 54, 1); }
.Blue-Sky-4-hsla { color: hsla(213, 78, 71, 1); }
.Blue-Sky-5-hsla { color: hsla(208, 82, 82, 1); }

/*----------------------------------------------------------------------------*/

/* Color Theme Swatches in Hex */
.Bloggy-Gradient-Blues-1-hex { color: #E1E6FA; }
.Bloggy-Gradient-Blues-2-hex { color: #C4D7ED; }
.Bloggy-Gradient-Blues-3-hex { color: #ABC8E2; }
.Bloggy-Gradient-Blues-4-hex { color: #375D81; }
.Bloggy-Gradient-Blues-5-hex { color: #183152; }

/* Color Theme Swatches in RGBA */
.Bloggy-Gradient-Blues-1-rgba { color: rgba(225, 230, 249, 1); }
.Bloggy-Gradient-Blues-2-rgba { color: rgba(195, 214, 237, 1); }
.Bloggy-Gradient-Blues-3-rgba { color: rgba(170, 200, 226, 1); }
.Bloggy-Gradient-Blues-4-rgba { color: rgba(54, 93, 128, 1); }
.Bloggy-Gradient-Blues-5-rgba { color: rgba(23, 49, 82, 1); }

/* Color Theme Swatches in HSLA */
.Bloggy-Gradient-Blues-1-hsla { color: hsla(227, 71, 93, 1); }
.Bloggy-Gradient-Blues-2-hsla { color: hsla(212, 53, 84, 1); }
.Bloggy-Gradient-Blues-3-hsla { color: hsla(208, 48, 77, 1); }
.Bloggy-Gradient-Blues-4-hsla { color: hsla(209, 40, 36, 1); }
.Bloggy-Gradient-Blues-5-hsla { color: hsla(214, 54, 20, 1); }

/*----------------------------------------------------------------------------*/


/* Color Theme Swatches in Hex */
.Corporate-Blew-1-hex { color: #00305A; }
.Corporate-Blew-2-hex { color: #004B8D; }
.Corporate-Blew-3-hex { color: #0074D9; }
.Corporate-Blew-4-hex { color: #4192D9; }
.Corporate-Blew-5-hex { color: #7ABAF2; }

/* Color Theme Swatches in RGBA */
.Corporate-Blew-1-rgba { color: rgba(0, 47, 89, 1); }
.Corporate-Blew-2-rgba { color: rgba(0, 75, 140, 1); }
.Corporate-Blew-3-rgba { color: rgba(0, 115, 217, 1); }
.Corporate-Blew-4-rgba { color: rgba(65, 146, 217, 1); }
.Corporate-Blew-5-rgba { color: rgba(121, 185, 242, 1); }

/* Color Theme Swatches in HSLA */
.Corporate-Blew-1-hsla { color: hsla(208, 100, 17, 1); }
.Corporate-Blew-2-hsla { color: hsla(208, 100, 27, 1); }
.Corporate-Blew-3-hsla { color: hsla(208, 100, 42, 1); }
.Corporate-Blew-4-hsla { color: hsla(208, 66, 55, 1); }
.Corporate-Blew-5-hsla { color: hsla(208, 82, 71, 1); }

/*----------------------------------------------------------------------------*/

/* Color Theme Swatches in Hex */
.Oahu-1-hex { color: #292929; }
.Oahu-2-hex { color: #2BBFBD; }
.Oahu-3-hex { color: #F2B33D; }
.Oahu-4-hex { color: #F29B30; }
.Oahu-5-hex { color: #F22E2E; }

/* Color Theme Swatches in RGBA */
.Oahu-1-rgba { color: rgba(40, 40, 40, 1); }
.Oahu-2-rgba { color: rgba(42, 191, 188, 1); }
.Oahu-3-rgba { color: rgba(242, 179, 61, 1); }
.Oahu-4-rgba { color: rgba(242, 154, 47, 1); }
.Oahu-5-rgba { color: rgba(242, 45, 45, 1); }

/* Color Theme Swatches in HSLA */
.Oahu-1-hsla { color: hsla(0, 0, 16, 1); }
.Oahu-2-hsla { color: hsla(179, 63, 45, 1); }
.Oahu-3-hsla { color: hsla(39, 87, 59, 1); }
.Oahu-4-hsla { color: hsla(33, 88, 56, 1); }
.Oahu-5-hsla { color: hsla(0, 88, 56, 1); }

/*----------------------------------------------------------------------------*/


